.compact {
  display: flex;
  align-items: center;
}

.compactBadge {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;
  position: relative;
  top: 0.1em;
}

.compactRating {
  margin-left: 0.5em;
}
