.root,
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statusItemLabel {
  margin-right: 8px;
  font-size: 80%;
}

.avatar {
  border-radius: 50%;
  background-color: rgba(119, 119, 119, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar.Cleric {
  background-image: url(./images/cleric.png);
}

.avatar.Knight {
  background-image: url(./images/knight.png);
}

.avatar.Scout {
  background-image: url(./images/scout.png);
}

.avatar.Pyromancer {
  background-image: url(./images/pyromancer.png);
}

.direction {
  width: 0;
  height: 0;
  /* border-left added in JSX */
  border-bottom: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid transparent;
  transform-origin: center;
}
