.tile {
  cursor: pointer;
  margin: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.inactive {
  background: #EEE;
}

.inactive:hover, .inactive:focus {
  background: rgba(238, 238, 283, 0.5);
}

.movement {
  background-color: rgba(100, 149, 237, 1);
}

.movement:hover, .movement:focus {
  background-color: rgba(100, 149, 237, 0.5);
}

.movementNonOwner {
  background-color: rgba(100, 149, 237, 0.5);
}

.movementNonOwner:hover, .movementNonOwner:focus {
  background-color: rgba(100, 149, 237, 0.5);
}

.attack {
  background-color: rgba(255, 172, 77, 1);
}

.attack:hover, .attack:focus {
  background-color: rgba(255, 172, 77, 0.5);
}

.attackNonOwner {
  background-color: rgba(255, 172, 77, 0.5);
}

.attackNonOwner:hover, .attackNonOwner:focus {
  background-color: rgba(255, 172, 77, 0.25);
}

.effect {
  background-color: rgba(252, 96, 76, 1);
}

.effect:hover, .effect:focus {
  background-color: rgba(252, 96, 76, 0.5);
}

.effectNonOwner {
  background-color: rgba(252, 96, 76, 0.5);
}

.effectNonOwner:hover, .effectNonOwner:focus {
  background-color: rgba(252, 96, 76, 0.25);
}

.direction {
  background-color: rgba(173, 126, 207, 1);
}

.direction:hover, .direction:focus {
  background-color: rgba(173, 126, 207, 0.5);
}

.directionNonOwner {
  background-color: rgba(173, 126, 207, 0.5);
}

.directionNonOwner:hover {
  background-color: rgba(173, 126, 207, 0.25);
}
